<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 57</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h1>{{ 5 * 6 }}</h1>
    <h1>Random Number: {{ num }}</h1>
    <h4>This is a practice page, goto: <a href="{{url_for('guess', name='Ali')}}">"/guess/some_name"</a> or <a href="{{url_for('get_blog')}}">"/blog"</a> for PROJECTS PAGES</h4>
</body>
<footer>
    <p>Copyright {{current_year}} Built by {{owner_name}}</p>
</footer>
</html>