
<!DOCTYPE html><html><head><meta http-equiv=3D"Content-Type" content=3D"tex=
t/html; charset=3DUTF-8">
   =20
    <title>L K S</title>
    <link rel=3D"stylesheet" href=3D"https://angelabauer.github.io/cv/css/s=
tyles.css">
  </head>

  <body data-new-gr-c-s-check-loaded=3D"14.1130.0" data-gr-ext-installed=3D=
"">
    <table cellspacing=3D"20">
      <tbody><tr>
        <td><img src="static/angela.png" alt="angela profile picture"></td>
        <td><h1>Angela Yu</h1>
        <p><em>Founder and CTO of <strong><a href=3D"https://www.appbrewery=
.co/">The App Brewery</a></strong>.</em></p>
        <p>I am an iOS and Web Developer. I =E2=9D=A4=EF=B8=8F coffee and b=
rew my own beers.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Books and Teaching</h3>
    <ul>
      <li>The Complete iOS App Development Bootcamp</li>
      <li>The Complete Web Development Bootcamp</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing=3D"10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2009-2010</td>
          <td>Researcher at The Institute of Cognitive Neurosciences</td>
        </tr>
        <tr>
          <td>2010-2013</td>
          <td>Lead Developer at Tempo App</td>
        </tr>
        <tr>
          <td>2013-2015</td>
          <td>Clinical Doctor at the National Health Service</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing=3D"10">
      <tbody><tr>
        <td>iOS Development</td>
        <td>=E2=AD=90=EF=B8=8F=E2=AD=90=EF=B8=8F=E2=AD=90=EF=B8=8F=E2=AD=90=
=EF=B8=8F=E2=AD=90=EF=B8=8F</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>=E2=AD=90=EF=B8=8F=E2=AD=90=EF=B8=8F=E2=AD=90=EF=B8=8F=E2=AD=90=
=EF=B8=8F=E2=AD=90=EF=B8=8F</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>=E2=AD=90=EF=B8=8F=E2=AD=90=EF=B8=8F=E2=AD=90=EF=B8=8F=E2=AD=90=
=EF=B8=8F=E2=AD=90=EF=B8=8F</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td>=E2=AD=90=EF=B8=8F=E2=AD=90=EF=B8=8F</td>
      </tr>
    </tbody></table>
    <hr>
    <a href=3D"https://angelabauer.github.io/cv/hobbies.html">My Hobbies</a=
>
    <a href=3D"https://angelabauer.github.io/cv/contact-me.html">Contact Me=
</a>
 

</body><grammarly-desktop-integration data-grammarly-shadow-root=3D"true"><=
template shadowmode=3D"open"><div aria-label=3D"grammarly-integration" role=
=3D"group" tabindex=3D"-1" class=3D"grammarly-desktop-integration" data-con=
tent=3D"{&quot;mode&quot;:&quot;limited&quot;,&quot;isActive&quot;:false,&q=
uot;isUserDisabled&quot;:false}"></div></template></grammarly-desktop-integ=
ration></html>
